// import separated dev stylesheets scss
// @import 'navbar.scss'
// @import 'footer.scss'
// and `sass --watch style.scss:../style.min.css --style compressed`

.landing-bg {
  height: 100vh;
  width: 100vw;
  background-image: url('../img/landing.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-box {
  background-color: rgba(255,255,255,0.75);
  position: absolute;
  padding: 2.5rem 1rem;
  // border-radius: 10%;
  box-shadow: 2px 2px 3px #759;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 80vw;
}
.form-changer {
  color: blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.public-chat {
  height: 100vh;
}
.chat-list {
  height: calc(100vh - 300px);
  // border: 1px solid black;
  overflow-y: auto;
  .message {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 20px;
    position: relative;
  	background: #edd9c0;
  	border-radius: .4em;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 15%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-color: #edd9c0;
      border-bottom: 0;
      border-left: 0;
      margin-left: -10px;
      margin-bottom: -20px;
    }

    &.my-message {
      background: #9ad3de;
      margin-left: auto;
      &::after {
        content: '';
      	position: absolute;
      	bottom: 0;
      	left: 85%;
      	width: 0;
      	height: 0;
      	border: 20px solid transparent;
      	border-top-color: #9ad3de;
      	border-bottom: 0;
      	border-right: 0;
      	margin-left: -10px;
      	margin-bottom: -20px;
      }
    }
  }
}
.form-inline .form-check {
  width: auto;
}
.new-chat {
  padding: 0.5rem 0 1.5rem;
}
textarea {
  resize: none;
  overflow: hidden;
}
